{% extends 'base.html' %}

{% block titulo %} {% endblock %}

{% block contenido %}

<header>
    <div class="container">
        <div class="row">
            <div class="col-12 m-auto">
                <div class="weblog-hero">
                    <h1 class="weblog-title">Weblog.esc</h1>
                    <h2 class="weblog-subtitle">Acerca de:</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="row">
        <div class="col-12"><h2 class="weblog-subtitle">Que somos?</h2></div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="about_p">
                Somos una pagiana de creacion de blogs oriantada al anonimato y a la falta de 
                recopilacion de datos. En nuestra pagina puedes crear y comentar blogs de forma
                anonima o no, segun el usuario lo prefiera. Esperamos y procuramos que todos
                los usuarios esten comodos usando el blog por eso invitamos a todos los usuarios a
                leer el <a href="#">Reglamento</a> y las normas de la app para fomentar el repeto en esta,
                y por ultimo invito a los usuarios a leer la <a href="#">Politica de privacidad</a> de la
                web.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12"><h2 class="weblog-subtitle">Sobre el inicio de sesion</h2></div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="about_p">
                Aunque el inicio de sesion y el registro no son obligatorios, algunas de las
                funciones de la app no estan disponibles sin este requerimiento, como lo son
                la opcion de ver, eliminar y modificar posts del usuario la cual no esta disponible
                a menos de que la sesion este iniciada, por lo cual recomendamos a los usuarios
                iniciar sesion, por ultimo recomendamos al usuario iniciar sesion con una
                contrasena propia y un nombre de usuario distinto al nombre propio.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12"><h2 class="weblog-subtitle">Sobre el comportamiento de la pagina</h2></div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="about_p">
                La pagina es una pagina sencilla por lo que no cuenta con funciones complejas de
                verificacion o correccion de errores, por lo cual recomendamos al usuario
                usar la pagina de forma correcta sin exigirle mucho. Las sigientes reglas hablan
                sobre lo que se debe y no se deve hacer con las funciones de la pagina:
                <ul>
                    <li>
                        Diseno responsive: El diseno de la pagina es responsivo aunque en algunos
                        equipos algunos elementos pueden salir de la pantalla debido al diseno y
                        dimensiones del equipo, por eso recomendamos el uso de una computadora
                        o tableta aunque en dispositivos moviles la pagina funcionara correctamente.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12"><h2 class="weblog-subtitle">Sobre el inicio de sesion</h2></div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="about_p">
                Aunque el inicio de sesion y el registro no son obligatorios, algunas de las
                funciones de la app no estan disponibles sin este requerimiento, como lo son
                la opcion de ver, eliminar y modificar posts del usuario la cual no esta disponible
                a menos de que la sesion este iniciada, por lo cual recomendamos a los usuarios
                iniciar sesion, por ultimo recomendamos al usuario iniciar sesion con una
                contrasena propia y un nombre de usuario distinto al nombre propio.
            </p>
        </div>
    </div>
</div>

{% endblock %}